body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #F5F7FB;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blob-yellow {
  position: absolute;
  right: -10em;
  top: -10em;
  min-height: 30em;
  width: 30em;
  background-color: #FFFAD1;
  border-radius: 100%;
  z-index: -1;
}

.blob-blue {
  position: absolute;
  left: -10em;
  bottom: -10em;
  min-height: 30em;
  width: 30em;
  background-color: #e3f0fd;
  border-radius: 100%;
  z-index: -1;
}